{% extends "base.html" %}

{% block content %}
<h1>Python Quiz</h1>
<form action="{{ url_for('submit_quiz') }}" method="post">
    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="surname" value="{{ surname }}">
    <input type="hidden" name="email" value="{{ email }}">
    
    {% for question in questions %}
        <fieldset>
            <legend>{{ question.question }}</legend>
            {% for option in question.options %}
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ option[0] }}">
                    {{ option }}
                </label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}
    
    <button type="submit">Gönder</button>
</form>
{% endblock %}
